body {
  margin: 7px;
  font-family: 'Edu AU VIC WA NT Guides',cursive,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}